 <%= stylesheet_link_tag "splash_page" %>
	<div class="container">				
			<h3 class="h3larger">Select a language and difficulty:</h3>

			<div class="row">
				<div class="col">
	
							<%= image_tag("html.png", class: "img-thumbnail") %>
						
						<p class="h2sansanimation">HTML
							<ul>
							<li class="begadv">
								<h4><%= link_to "Beginner", quiz_settings_path(:subject => "html", :difficulty => 1) %></h4>
							</li>
							<li class="begadv">
								<h4><%= link_to "Advanced", quiz_settings_path(:subject => "html", :difficulty => 2) %></h4>
							</li>
							</ul>
						</p>
				</div>
				<div class="col">
							<%= image_tag("javascript_logo.svg", class: "img-thumbnail") %>
					<p class="h2sansanimation">JavaScript
						<ul>
							<li class="begadv">
								<h4><%= link_to "Beginner", quiz_settings_path(:subject => "javascript", :difficulty => 1) %></h4>
							</li>
							<li class="begadv">
								<h4><%= link_to "Advanced", quiz_settings_path(:subject => "javascript", :difficulty => 2) %></h4>
							</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
						
						<%= image_tag("css.svg", class: "img-thumbnail") %>
						<p class="h2sansanimation">CSS
							<ul>
							<li class="begadv">
								<h4><%= link_to "Beginner", quiz_settings_path(:subject => "css", :difficulty => 1) %></h4>
							</li>
							<li class="begadv">
								<h4><%= link_to "Advanced", quiz_settings_path(:subject => "css", :difficulty => 2) %> </h4>
							</li>
							</ul>
						</p>

				</div>
				<div class="col">
						<%= image_tag("ruby.png", class: "img-thumbnail") %>
						
						<p class="h2sansanimation">Ruby
							<ul>
							<li class="begadv">
								<h4><%= link_to "Beginner", quiz_settings_path(:subject => "ruby", :difficulty => 1) %></h4>
							</li>
							<li class="begadv">
								<h4><%= link_to "Advanced", quiz_settings_path(:subject => "ruby", :difficulty => 2) %></h4>
							</li>
							</ul>
						</p>
				</div>
			</div>
	
	</div>
