 <%= stylesheet_link_tag "splash_page" %>
	<div class="container">				
		<h3 class="h3larger">Select a language and difficulty</h3>
		<div class="row cards-rows">
			<div class="col-lg-6 col-centered center-block">
			
				<div><%= image_tag("html.png", class: "img-thumbnail") %></div>
				<p class="h2sansanimation">HTML</p>
						<ul>
						<li class="begadv">
							<p class="hoverbright"><%= link_to "Beginner", quiz_settings_path(:subject => "html", :difficulty => 1) %></p>
						</li>
						<li class="begadv">
							<p class="hoverbright"><%= link_to "Advanced", quiz_settings_path(:subject => "html", :difficulty => 2) %></p>
						</li>
						</ul>
					</p>
			</div>

			<div class="col-lg-6 col-centered center-block">					
				<div><%= image_tag("css.svg", class: "img-thumbnail") %></div>
					<p class="h2sansanimation">CSS</p>
						<ul>
						<li class="begadv">
							<p class="hoverbright"><%= link_to "Beginner", quiz_settings_path(:subject => "css", :difficulty => 1) %></p>
						</li>
						<li class="begadv">
							<p class="hoverbright"><%= link_to "Advanced", quiz_settings_path(:subject => "css", :difficulty => 2) %> </p>
						</li>
						</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row cards-rows">
			<div class="col-md cards-col">
						<%= image_tag("javascript_logo.svg", class: "img-thumbnail") %><br>
				<p class="h2sansanimation">JavaScript
					<ul>
						<li class="begadv">
							<p class="hoverbright"><%= link_to "Beginner", quiz_settings_path(:subject => "javascript", :difficulty => 1) %></p>
						</li>
						<li class="begadv">
							<p class="hoverbright"><%= link_to "Advanced", quiz_settings_path(:subject => "javascript", :difficulty => 2) %></p>
						</li>
					</ul>
				</p>
			</div>
			<div class="col-md cards-col">
					<%= image_tag("ruby.png", class: "img-thumbnail") %><br>					
					<p class="h2sansanimation">Ruby
						<ul>
						<li class="begadv">
							<p><%= link_to "Beginner", quiz_settings_path(:subject => "ruby", :difficulty => 1) %></p>
						</li>
						<li class="begadv">
							<p><%= link_to "Advanced", quiz_settings_path(:subject => "ruby", :difficulty => 2) %></p>
						</li>
						</ul>
					</p>
			</div>
		</div>
	
	</div>
