<div class="container">
        
            <p> Select a quiz to get started:</p>

    <div class = "row">

        <div class = "col">
            <%=link_to quizzes_html_path do %>
            	<%= image_tag("html.png", class: "img-thumbnail float-right") %>
            <% end %>
            <%=link_to quizzes_javascript_path do %>
                <%= image_tag("javascript_logo.png", class: "img-thumbnail float-right") %>
            <% end %>
        </div>

        <div class = "col">
            <%=link_to quizzes_css_path do %>
                <%= image_tag("css.png", class: "img-thumbnail float-left") %>
            <% end %>
            <%=link_to quizzes_ruby_path do %>
                <%= image_tag("ruby.png", class: "img-thumbnail float-left") %>
            <% end %>
        </div>

    </div>



    </div>