
<main class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag "3448054386_5b5bdf1675_o.jpg", class: "img-thumbnail rounded float-left profileimg", alt: "Responsive image"%>
      </div>
      <div class="col userinfo">
        <p>USER INFO</p>
        <p>Email Address: <%=  @user.email %></p>
        <p>First Name: <%=  @profile.first_name %></p>
        <p>Last Name: <%=  @profile.last_name %></p>
      </div>
    </div>
  </div>
  <div class="container lg">
    <div class="row">
      <div class="col quizofday col-lg-auto col-md-auto">
        Dev Quiz of the Day
      </div>
    </div>
  </div>
  <div class="container completequizzes">
    <div class="row">
      <div class="col completedquiztxt">
        <h1>Completed Quizzes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">Badge<br><%= image_tag "3448054386_5b5bdf1675_o.jpg", class: "img-thumbnail rounded badgesimg", alt: "Responsive image"%></div>
      <div class="col-sm">Badge<br><%= image_tag "3448054386_5b5bdf1675_o.jpg", class: "img-thumbnail rounded badgesimg", alt: "Responsive image"%></div>
      <div class="col-sm">Badge<br><%= image_tag "3448054386_5b5bdf1675_o.jpg", class: "img-thumbnail rounded badgesimg", alt: "Responsive image"%></div>
    </div>
  </div>

</main>
