<h1>Quiz Questions FIZAL</h1>

<% if signed_in? %>
  Signed in as: <%= current_user.email %>
  <%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>



<section class="questionslideshow"> 
  <form action="/quiz_questions/validate" method="post" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% $questions.each do |question|%>
    <div class="mainquestion">
      <h2> <%= question.description %></h2>
        <ul>
          <li>  
            <label class="radio-inline">
              <input type="radio" name=<%="q#{question.id}"%> value=1 >  <%= question.option_1 %>
            </label>
          </li>
          <li>
            <label class="radio-inline">
              <input type="radio" name=<%="q#{question.id}"%> value=2 > <%= question.option_2 %>
            </label>
          </li>
          <li>
            <label class="radio-inline">
              <input type="radio" name=<%="q#{question.id}"%> value=3> <%= question.option_3 %>
            </label>
          </li>
          <li>
            <label class="radio-inline">
              <input type="radio" name=<%="q#{question.id}"%> value=4 > <%= question.option_4 %>
            </label>
          </li>
          <li>
              <input name=<%="question#{question.id}"%> type="hidden" value=<%=question.id%>
          </li>

          
        <% if $questions.last.id == question.id %>
          <button>Submit </button> 
          <% end %>
            
        </ul>
      </div>
      <% end %>
      </form>
      <button onclick="carousel(); return false;"> Next </button>
      <%# return false below keeps the page from being reloaded. but I'm not sure. it's exactly what we need, since with it, the page advances BUT the answer from the first question also stays put even after clicking next.  
      
      ALSO right now, clicking the SUBMIT button on second slide takes you BACK TO quiz_questions index page. Not sure why. Next button works though. 
      
      next steps: 
      1 stop the bugs. 
      2 Be sure we're capturing input and relaying right/wrong answer correctly on the page. 
      3 Give a badge when quiz is complete(so be able to KEEP COUNT somewhere then display that).Then maybe redirect to quiz cards page. %>
      
      <h3><%= @v %><h3>

  <script>
    var slideIndex = 0;

    function carousel() {

      let x = document.getElementsByClassName("mainquestion");
      for (let i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {
        slideIndex = 1

      }
      x[slideIndex-1].style.display = "block";
    }
    carousel();
  </script>
      

</section>
